In [5]:
import pandas as pd
from docx.api import Document
import pprint
import json


document = Document('2020-04-06.docx')

CATEGORIES = ['county', 'sex', 'age_group', 'deaths', 'long_term_care', 'hospitalization', 'deaths', 'labs']

In [315]:
final_data = []
for i, table in enumerate(document.tables) :
    data_split = parse_table(table)
    final_data.extend(data_split)
    
final_data = final_data[1:]

In [324]:
final_data_dict = {CATEGORIES[i] : data_cat for i, data_cat in enumerate(final_data)}

In [327]:
final_data_dict['hospitalization']

                       CATEGORY NUMBER OF CONFIRMED CASES
0      Patient was hospitalized                      1068
1  Patient was not hospitalized                      3378

In [330]:
final_data[5]

                       CATEGORY NUMBER OF CONFIRMED CASES
0      Patient was hospitalized                      1068
1  Patient was not hospitalized                      3378

In [1]:
from parse_doc import *

In [8]:
hello = process_data(document)

IndexError: list index out of range